.articles {
  @include container();
  $border: 1px solid $divider-color;

  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  list-style: none;

  &__item {
    padding: 25px 0;
    border-top: $border;

    &:last-child {
      border-bottom: $border;
    }
  }
}
