html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  margin: 0;
  color: #000;
  background-color: #fff;
}

.login {
  position: relative;
  width: 375px;
  padding-top: 351px;
  padding-bottom: 18px;
  color: #fff;
  background-color: #7f7f7f;
  background-image: url('../img/bg1.jpg');
  background-size: cover;
  background-position: center;
}
